# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
import sqlite3
connection = sqlite3.connect('data.sqlite')
cursor = connection.cursor()

In [4]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
#sqlite_master is the master table that stores all the tables in the database
# databases can hold more than tables, that's why we have type = table
print(cursor.fetchall())

[('orderdetails',), ('payments',), ('offices',), ('customers',), ('orders',), ('productlines',), ('products',), ('employees',)]

## Display the names of all the employees in Boston.

In [9]:
cursor.execute('''PRAGMA table_info(employees);''').fetchall()

[(0, 'employeeNumber', '', 0, None, 0),
 (1, 'lastName', '', 0, None, 0),
 (2, 'firstName', '', 0, None, 0),
 (3, 'extension', '', 0, None, 0),
 (4, 'email', '', 0, None, 0),
 (5, 'officeCode', '', 0, None, 0),
 (6, 'reportsTo', '', 0, None, 0),
 (7, 'jobTitle', '', 0, None, 0)]

In [10]:
cursor.execute('''SELECT lastName, firstName FROM employees;''').fetchall()

[('Murphy', 'Diane'),
 ('Patterson', 'Mary'),
 ('Firrelli', 'Jeff'),
 ('Patterson', 'William'),
 ('Bondur', 'Gerard'),
 ('Bow', 'Anthony'),
 ('Jennings', 'Leslie'),
 ('Thompson', 'Leslie'),
 ('Firrelli', 'Julie'),
 ('Patterson', 'Steve'),
 ('Tseng', 'Foon Yue'),
 ('Vanauf', 'George'),
 ('Bondur', 'Loui'),
 ('Hernandez', 'Gerard'),
 ('Castillo', 'Pamela'),
 ('Bott', 'Larry'),
 ('Jones', 'Barry'),
 ('Fixter', 'Andy'),
 ('Marsh', 'Peter'),
 ('King', 'Tom'),
 ('Nishi', 'Mami'),
 ('Kato', 'Yoshimi'),
 ('Gerard', 'Martin')]

## Do any offices have no employees?

In [11]:
cursor.execute('''PRAGMA table_info(offices);''').fetchall()

[(0, 'officeCode', '', 0, None, 0),
 (1, 'city', '', 0, None, 0),
 (2, 'phone', '', 0, None, 0),
 (3, 'addressLine1', '', 0, None, 0),
 (4, 'addressLine2', '', 0, None, 0),
 (5, 'state', '', 0, None, 0),
 (6, 'country', '', 0, None, 0),
 (7, 'postalCode', '', 0, None, 0),
 (8, 'territory', '', 0, None, 0)]

In [16]:
if cursor.execute('''SELECT * FROM offices o LEFT JOIN employees e ON o.officeCode = e.officeCode WHERE e.officeCode IS NULL;''').fetchall() == []:
    print('No offices have no employees')
else:
    print(cursor.execute('''SELECT * FROM offices o LEFT JOIN employees e ON o.officeCode = e.officeCode WHERE e.officeCode IS NULL;''').fetchall())

No offices have no employees

## Write 3 Questions of your own and answer them

In [35]:
# Who are the customers whose orders have yet to be shipped fulfilled? How many are there?

In [20]:
cursor.execute('''PRAGMA table_info(orders);''').fetchall()

[(0, 'orderNumber', '', 0, None, 0),
 (1, 'orderDate', '', 0, None, 0),
 (2, 'requiredDate', '', 0, None, 0),
 (3, 'shippedDate', '', 0, None, 0),
 (4, 'status', '', 0, None, 0),
 (5, 'comments', '', 0, None, 0),
 (6, 'customerNumber', '', 0, None, 0)]

In [21]:
cursor.execute('''PRAGMA table_info(customers);''').fetchall()

[(0, 'customerNumber', '', 0, None, 0),
 (1, 'customerName', '', 0, None, 0),
 (2, 'contactLastName', '', 0, None, 0),
 (3, 'contactFirstName', '', 0, None, 0),
 (4, 'phone', '', 0, None, 0),
 (5, 'addressLine1', '', 0, None, 0),
 (6, 'addressLine2', '', 0, None, 0),
 (7, 'city', '', 0, None, 0),
 (8, 'state', '', 0, None, 0),
 (9, 'postalCode', '', 0, None, 0),
 (10, 'country', '', 0, None, 0),
 (11, 'salesRepEmployeeNumber', '', 0, None, 0),
 (12, 'creditLimit', '', 0, None, 0)]

In [33]:
print(cursor.execute('''SELECT c.customerNumber, c.customerName FROM customers c LEFT JOIN orders o ON c.customerNumber = o.customerNumber WHERE o.customerNumber != 'Status';''').fetchall())
len(cursor.execute('''SELECT c.customerNumber, c.customerName FROM customers c LEFT JOIN orders o ON c.customerNumber = o.customerNumber WHERE o.customerNumber != 'Status';''').fetchall())

[('363', 'Online Diecast Creations Co.'), ('128', 'Blauer See Auto, Co.'), ('181', 'Vitachrome Inc.'), ('121', 'Baane Mini Imports'), ('141', 'Euro+ Shopping Channel'), ('145', 'Danish Wholesale Imports'), ('278', 'Rovelli Gifts'), ('131', 'Land of Toys Inc.'), ('385', 'Cruz & Sons Co.'), ('486', 'Motor Mint Distributors Inc.'), ('187', 'AV Stores, Co.'), ('129', 'Mini Wheels Co.'), ('144', 'Volvo Model Replicas, Co'), ('124', 'Mini Gifts Distributors Ltd.'), ('172', "La Corne D'abondance, Co."), ('424', 'Classic Legends Inc.'), ('381', 'Royale Belge'), ('148', 'Dragon Souveniers, Ltd.'), ('216', 'Enaco Distributors'), ('382', 'Salzburg Collectables'), ('114', 'Australian Collectors, Co.'), ('353', 'Reims Collectables'), ('350', 'Marseille Mini Autos'), ('103', 'Atelier graphique'), ('112', 'Signal Gift Stores'), ('114', 'Australian Collectors, Co.'), ('458', 'Corrida Auto Replicas, Ltd'), ('151', 'Muscle Machine Inc'), ('141', 'Euro+ Shopping Channel'), ('324', 'Stylish Desk Decors, Co.'), ('198', 'Auto-Moto Classics Inc.'), ('447', 'Gift Ideas Corp.'), ('323', 'Down Under Souveniers, Inc'), ('141', 'Euro+ Shopping Channel'), ('250', 'Lyon Souveniers'), ('124', 'Mini Gifts Distributors Ltd.'), ('242', 'Alpha Cognac'), ('353', 'Reims Collectables'), ('496', "Kelly's Gift Shop"), ('282', 'Souveniers And Things Co.'), ('161', 'Technics Stores Inc.'), ('334', 'Suominen Souveniers'), ('124', 'Mini Gifts Distributors Ltd.'), ('320', 'Mini Creations Ltd.'), ('381', 'Royale Belge'), ('205', 'Toys4GrownUps.com'), ('447', 'Gift Ideas Corp.'), ('379', 'Collectables For Less Inc.'), ('276', "Anna's Decorations, Ltd"), ('487', 'Signal Collectibles Ltd.'), ('148', 'Dragon Souveniers, Ltd.'), ('311', 'Oulu Toy Supplies, Inc.'), ('333', 'Australian Gift Network, Co'), ('141', 'Euro+ Shopping Channel'), ('219', 'Boards & Toys Co.'), ('186', 'Toys of Finland, Co.'), ('141', 'Euro+ Shopping Channel'), ('473', 'Frau da Collezione'), ('121', 'Baane Mini Imports'), ('321', 'Corporate Gift Ideas Co.'), ('347', "Men 'R' US Retailers, Ltd."), ('227', 'Heintze Collectables'), ('321', 'Corporate Gift Ideas Co.'), ('424', 'Classic Legends Inc.'), ('452', 'Mini Auto Werke'), ('148', 'Dragon Souveniers, Ltd.'), ('462', 'FunGiftIdeas.com'), ('448', 'Scandinavian Gift Ideas'), ('161', 'Technics Stores Inc.'), ('276', "Anna's Decorations, Ltd"), ('452', 'Mini Auto Werke'), ('233', 'Québec Home Shopping Network'), ('175', 'Gift Depot Inc.'), ('278', 'Rovelli Gifts'), ('333', 'Australian Gift Network, Co'), ('324', 'Stylish Desk Decors, Co.'), ('386', "L'ordine Souveniers"), ('344', 'CAF Imports'), ('242', 'Alpha Cognac'), ('496', "Kelly's Gift Shop"), ('171', 'Daedalus Designs Imports'), ('167', 'Herkku Gifts'), ('124', 'Mini Gifts Distributors Ltd.'), ('339', 'Classic Gift Ideas, Inc'), ('484', 'Iberia Gift Imports, Corp.'), ('320', 'Mini Creations Ltd.'), ('489', 'Double Decker Gift Stores, Ltd'), ('211', 'King Kong Collectables, Co.'), ('167', 'Herkku Gifts'), ('205', 'Toys4GrownUps.com'), ('141', 'Euro+ Shopping Channel'), ('259', 'Toms Spezialitäten, Ltd'), ('363', 'Online Diecast Creations Co.'), ('471', 'Australian Collectables, Ltd'), ('146', 'Saveley & Henriot, Co.'), ('319', 'Mini Classics'), ('455', 'Super Scale Inc.'), ('216', 'Enaco Distributors'), ('385', 'Cruz & Sons Co.'), ('475', 'West Coast Collectables Co.'), ('211', 'King Kong Collectables, Co.'), ('129', 'Mini Wheels Co.'), ('357', 'GiftsForHim.com'), ('141', 'Euro+ Shopping Channel'), ('151', 'Muscle Machine Inc'), ('141', 'Euro+ Shopping Channel'), ('202', 'Canadian Gift Exchange Network'), ('495', 'Diecast Collectables'), ('146', 'Saveley & Henriot, Co.'), ('347', "Men 'R' US Retailers, Ltd."), ('177', 'Osaka Souveniers Co.'), ('406', 'Auto Canal+ Petit'), ('141', 'Euro+ Shopping Channel'), ('489', 'Double Decker Gift Stores, Ltd'), ('458', 'Corrida Auto Replicas, Ltd'), ('475', 'West Coast Collectables Co.'), ('256', 'Auto Associés & Cie.'), ('166', 'Handji Gifts& Co'), ('473', 'Frau da Collezione'), ('487', 'Signal Collectibles Ltd.'), ('189', 'Clover Collections, Co.'), ('314', 'Petit Auto'), ('239', 'Collectable Mini Designs Co.'), ('114', 'Australian Collectors, Co.'), ('171', 'Daedalus Designs Imports'), ('298', 'Vida Sport, Ltd'), ('239', 'Collectable Mini Designs Co.'), ('146', 'Saveley & Henriot, Co.'), ('173', 'Cambridge Collectables Co.'), ('124', 'Mini Gifts Distributors Ltd.'), ('128', 'Blauer See Auto, Co.'), ('344', 'CAF Imports'), ('240', 'giftsbymail.co.uk'), ('328', 'Tekni Collectables Inc.'), ('412', 'Extreme Desk Decorations, Ltd'), ('260', 'Royal Canadian Collectables, Ltd.'), ('486', 'Motor Mint Distributors Inc.'), ('181', 'Vitachrome Inc.'), ('145', 'Danish Wholesale Imports'), ('311', 'Oulu Toy Supplies, Inc.'), ('177', 'Osaka Souveniers Co.'), ('209', 'Mini Caravy'), ('456', 'Microscale Inc.'), ('495', 'Diecast Collectables'), ('141', 'Euro+ Shopping Channel'), ('455', 'Super Scale Inc.'), ('141', 'Euro+ Shopping Channel'), ('334', 'Suominen Souveniers'), ('131', 'Land of Toys Inc.'), ('173', 'Cambridge Collectables Co.'), ('450', 'The Sharp Gifts Warehouse'), ('328', 'Tekni Collectables Inc.'), ('406', 'Auto Canal+ Petit'), ('201', 'UK Collectables, Ltd.'), ('323', 'Down Under Souveniers, Inc'), ('209', 'Mini Caravy'), ('145', 'Danish Wholesale Imports'), ('450', 'The Sharp Gifts Warehouse'), ('398', 'Tokyo Collectables, Ltd'), ('166', 'Handji Gifts& Co'), ('357', 'GiftsForHim.com'), ('233', 'Québec Home Shopping Network'), ('141', 'Euro+ Shopping Channel'), ('175', 'Gift Depot Inc.'), ('362', 'Gifts4AllAges.com'), ('471', 'Australian Collectables, Ltd'), ('386', "L'ordine Souveniers"), ('151', 'Muscle Machine Inc'), ('412', 'Extreme Desk Decorations, Ltd'), ('382', 'Salzburg Collectables'), ('282', 'Souveniers And Things Co.'), ('124', 'Mini Gifts Distributors Ltd.'), ('157', 'Diecast Classics Inc.'), ('314', 'Petit Auto'), ('379', 'Collectables For Less Inc.'), ('119', 'La Rochelle Gifts'), ('204', 'Online Mini Collectables'), ('148', 'Dragon Souveniers, Ltd.'), ('112', 'Signal Gift Stores'), ('141', 'Euro+ Shopping Channel'), ('249', 'Amica Models & Co.'), ('157', 'Diecast Classics Inc.'), ('124', 'Mini Gifts Distributors Ltd.'), ('260', 'Royal Canadian Collectables, Ltd.'), ('299', 'Norway Gifts By Mail, Co.'), ('286', "Marta's Replicas Co."), ('172', "La Corne D'abondance, Co."), ('298', 'Vida Sport, Ltd'), ('166', 'Handji Gifts& Co'), ('167', 'Herkku Gifts'), ('198', 'Auto-Moto Classics Inc.'), ('448', 'Scandinavian Gift Ideas'), ('131', 'Land of Toys Inc.'), ('249', 'Amica Models & Co.'), ('204', 'Online Mini Collectables'), ('362', 'Gifts4AllAges.com'), ('415', 'Bavarian Collectables Imports, Co.'), ('189', 'Clover Collections, Co.'), ('103', 'Atelier graphique'), ('186', 'Toys of Finland, Co.'), ('128', 'Blauer See Auto, Co.'), ('299', 'Norway Gifts By Mail, Co.'), ('201', 'UK Collectables, Ltd.'), ('484', 'Iberia Gift Imports, Corp.'), ('256', 'Auto Associés & Cie.'), ('286', "Marta's Replicas Co."), ('187', 'AV Stores, Co.'), ('339', 'Classic Gift Ideas, Inc'), ('319', 'Mini Classics'), ('121', 'Baane Mini Imports'), ('259', 'Toms Spezialitäten, Ltd'), ('141', 'Euro+ Shopping Channel'), ('124', 'Mini Gifts Distributors Ltd.'), ('202', 'Canadian Gift Exchange Network'), ('227', 'Heintze Collectables'), ('119', 'La Rochelle Gifts'), ('240', 'giftsbymail.co.uk'), ('161', 'Technics Stores Inc.'), ('157', 'Diecast Classics Inc.'), ('456', 'Microscale Inc.'), ('144', 'Volvo Model Replicas, Co'), ('462', 'FunGiftIdeas.com'), ('363', 'Online Diecast Creations Co.'), ('128', 'Blauer See Auto, Co.'), ('181', 'Vitachrome Inc.'), ('121', 'Baane Mini Imports'), ('144', 'Volvo Model Replicas, Co'), ('145', 'Danish Wholesale Imports'), ('278', 'Rovelli Gifts'), ('131', 'Land of Toys Inc.'), ('385', 'Cruz & Sons Co.'), ('486', 'Motor Mint Distributors Inc.'), ('187', 'AV Stores, Co.'), ('129', 'Mini Wheels Co.'), ('144', 'Volvo Model Replicas, Co'), ('124', 'Mini Gifts Distributors Ltd.'), ('172', "La Corne D'abondance, Co."), ('424', 'Classic Legends Inc.'), ('381', 'Royale Belge'), ('398', 'Tokyo Collectables, Ltd'), ('216', 'Enaco Distributors'), ('382', 'Salzburg Collectables'), ('114', 'Australian Collectors, Co.'), ('353', 'Reims Collectables'), ('350', 'Marseille Mini Autos'), ('103', 'Atelier graphique'), ('112', 'Signal Gift Stores'), ('114', 'Australian Collectors, Co.'), ('458', 'Corrida Auto Replicas, Ltd'), ('151', 'Muscle Machine Inc'), ('141', 'Euro+ Shopping Channel'), ('324', 'Stylish Desk Decors, Co.'), ('198', 'Auto-Moto Classics Inc.'), ('447', 'Gift Ideas Corp.'), ('323', 'Down Under Souveniers, Inc'), ('141', 'Euro+ Shopping Channel'), ('250', 'Lyon Souveniers'), ('124', 'Mini Gifts Distributors Ltd.'), ('141', 'Euro+ Shopping Channel'), ('353', 'Reims Collectables'), ('496', "Kelly's Gift Shop"), ('282', 'Souveniers And Things Co.'), ('161', 'Technics Stores Inc.'), ('334', 'Suominen Souveniers'), ('350', 'Marseille Mini Autos'), ('320', 'Mini Creations Ltd.'), ('381', 'Royale Belge'), ('205', 'Toys4GrownUps.com'), ('124', 'Mini Gifts Distributors Ltd.'), ('379', 'Collectables For Less Inc.'), ('276', "Anna's Decorations, Ltd"), ('124', 'Mini Gifts Distributors Ltd.'), ('398', 'Tokyo Collectables, Ltd'), ('311', 'Oulu Toy Supplies, Inc.'), ('333', 'Australian Gift Network, Co'), ('119', 'La Rochelle Gifts'), ('219', 'Boards & Toys Co.'), ('186', 'Toys of Finland, Co.'), ('141', 'Euro+ Shopping Channel'), ('141', 'Euro+ Shopping Channel'), ('141', 'Euro+ Shopping Channel'), ('321', 'Corporate Gift Ideas Co.'), ('124', 'Mini Gifts Distributors Ltd.'), ('141', 'Euro+ Shopping Channel'), ('321', 'Corporate Gift Ideas Co.'), ('124', 'Mini Gifts Distributors Ltd.'), ('141', 'Euro+ Shopping Channel'), ('148', 'Dragon Souveniers, Ltd.'), ('462', 'FunGiftIdeas.com'), ('448', 'Scandinavian Gift Ideas'), ('124', 'Mini Gifts Distributors Ltd.'), ('276', "Anna's Decorations, Ltd"), ('452', 'Mini Auto Werke'), ('323', 'Down Under Souveniers, Inc'), ('141', 'Euro+ Shopping Channel'), ('250', 'Lyon Souveniers'), ('124', 'Mini Gifts Distributors Ltd.'), ('242', 'Alpha Cognac'), ('353', 'Reims Collectables'), ('496', "Kelly's Gift Shop"), ('450', 'The Sharp Gifts Warehouse'), ('328', 'Tekni Collectables Inc.'), ('406', 'Auto Canal+ Petit'), ('201', 'UK Collectables, Ltd.'), ('323', 'Down Under Souveniers, Inc'), ('209', 'Mini Caravy'), ('145', 'Danish Wholesale Imports'), ('450', 'The Sharp Gifts Warehouse'), ('398', 'Tokyo Collectables, Ltd'), ('166', 'Handji Gifts& Co'), ('357', 'GiftsForHim.com'), ('233', 'Québec Home Shopping Network'), ('141', 'Euro+ Shopping Channel'), ('175', 'Gift Depot Inc.'), ('362', 'Gifts4AllAges.com'), ('471', 'Australian Collectables, Ltd'), ('386', "L'ordine Souveniers"), ('141', 'Euro+ Shopping Channel'), ('412', 'Extreme Desk Decorations, Ltd'), ('382', 'Salzburg Collectables'), ('282', 'Souveniers And Things Co.'), ('124', 'Mini Gifts Distributors Ltd.'), ('157', 'Diecast Classics Inc.'), ('314', 'Petit Auto'), ('141', 'Euro+ Shopping Channel'), ('119', 'La Rochelle Gifts')]

326

In [51]:
# What are the cities these offices are in?
cursor.execute('''SELECT city, state FROM offices o LEFT JOIN employees e ON o.officeCode = e.officeCode;''').fetchall()

[('San Francisco', 'CA'),
 ('San Francisco', 'CA'),
 ('San Francisco', 'CA'),
 ('San Francisco', 'CA'),
 ('San Francisco', 'CA'),
 ('San Francisco', 'CA'),
 ('Boston', 'MA'),
 ('Boston', 'MA'),
 ('NYC', 'NY'),
 ('NYC', 'NY'),
 ('Paris', ''),
 ('Paris', ''),
 ('Paris', ''),
 ('Paris', ''),
 ('Paris', ''),
 ('Tokyo', 'Chiyoda-Ku'),
 ('Tokyo', 'Chiyoda-Ku'),
 ('Sydney', ''),
 ('Sydney', ''),
 ('Sydney', ''),
 ('Sydney', ''),
 ('London', ''),
 ('London', '')]

In [52]:
# What are the products to each product line?

In [61]:
cursor.execute('''PRAGMA table_info(productlines);''').fetchall();

In [62]:
cursor.execute('''PRAGMA table_info(products);''').fetchall();

In [63]:
cursor.execute('''SELECT * FROM products;''').fetchall();

In [64]:
cursor.execute('''SELECT * FROM productlines;''').fetchall();

In [180]:
tuples = cursor.execute('''SELECT p.productLine, p.productName FROM products p INNER JOIN productlines pl ON p.productLine = pl.productLine;''').fetchall()
tuples

[('Motorcycles', '1969 Harley Davidson Ultimate Chopper'),
 ('Classic Cars', '1952 Alpine Renault 1300'),
 ('Motorcycles', '1996 Moto Guzzi 1100i'),
 ('Motorcycles', '2003 Harley-Davidson Eagle Drag Bike'),
 ('Classic Cars', '1972 Alfa Romeo GTA'),
 ('Classic Cars', '1962 LanciaA Delta 16V'),
 ('Classic Cars', '1968 Ford Mustang'),
 ('Classic Cars', '2001 Ferrari Enzo'),
 ('Trucks and Buses', '1958 Setra Bus'),
 ('Motorcycles', '2002 Suzuki XREO'),
 ('Classic Cars', '1969 Corvair Monza'),
 ('Classic Cars', '1968 Dodge Charger'),
 ('Classic Cars', '1969 Ford Falcon'),
 ('Classic Cars', '1970 Plymouth Hemi Cuda'),
 ('Trucks and Buses', '1957 Chevy Pickup'),
 ('Classic Cars', '1969 Dodge Charger'),
 ('Trucks and Buses', '1940 Ford Pickup Truck'),
 ('Classic Cars', '1993 Mazda RX-7'),
 ('Vintage Cars', '1937 Lincoln Berline'),
 ('Vintage Cars', '1936 Mercedes-Benz 500K Special Roadster'),
 ('Classic Cars', '1965 Aston Martin DB5'),
 ('Planes', '1980s Black Hawk Helicopter'),
 ('Vintage Cars', '1917 Grand Touring Sedan'),
 ('Classic Cars', '1948 Porsche 356-A Roadster'),
 ('Classic Cars', '1995 Honda Civic'),
 ('Classic Cars', '1998 Chrysler Plymouth Prowler'),
 ('Vintage Cars', '1911 Ford Town Car'),
 ('Trucks and Buses', '1964 Mercedes Tour Bus'),
 ('Vintage Cars', '1932 Model A Ford J-Coupe'),
 ('Trucks and Buses', '1926 Ford Fire Engine'),
 ('Planes', 'P-51-D Mustang'),
 ('Motorcycles', '1936 Harley Davidson El Knucklehead'),
 ('Vintage Cars', '1928 Mercedes-Benz SSK'),
 ('Classic Cars', '1999 Indy 500 Monte Carlo SS'),
 ('Vintage Cars', '1913 Ford Model T Speedster'),
 ('Vintage Cars', '1934 Ford V8 Coupe'),
 ('Ships', '1999 Yamaha Speed Boat'),
 ('Vintage Cars', '18th Century Vintage Horse Carriage'),
 ('Vintage Cars', '1903 Ford Model A'),
 ('Classic Cars', '1992 Ferrari 360 Spider red'),
 ('Classic Cars', '1985 Toyota Supra'),
 ('Trains', 'Collectable Wooden Train'),
 ('Classic Cars', '1969 Dodge Super Bee'),
 ('Vintage Cars', '1917 Maxwell Touring Car'),
 ('Classic Cars', '1976 Ford Gran Torino'),
 ('Classic Cars', '1948 Porsche Type 356 Roadster'),
 ('Motorcycles', '1957 Vespa GS150'),
 ('Vintage Cars', '1941 Chevrolet Special Deluxe Cabriolet'),
 ('Classic Cars', '1970 Triumph Spitfire'),
 ('Vintage Cars', '1932 Alfa Romeo 8C2300 Spider Sport'),
 ('Vintage Cars', '1904 Buick Runabout'),
 ('Trucks and Buses', '1940s Ford truck'),
 ('Vintage Cars', '1939 Cadillac Limousine'),
 ('Classic Cars', '1957 Corvette Convertible'),
 ('Classic Cars', '1957 Ford Thunderbird'),
 ('Classic Cars', '1970 Chevy Chevelle SS 454'),
 ('Classic Cars', '1970 Dodge Coronet'),
 ('Motorcycles', '1997 BMW R 1100 S'),
 ('Classic Cars', '1966 Shelby Cobra 427 S/C'),
 ('Planes', '1928 British Royal Navy Airplane'),
 ('Vintage Cars', '1939 Chevrolet Deluxe Coupe'),
 ('Motorcycles', '1960 BSA Gold Star DBD34'),
 ('Ships', '18th century schooner'),
 ('Vintage Cars', '1938 Cadillac V-16 Presidential Limousine'),
 ('Trucks and Buses', '1962 Volkswagen Microbus'),
 ('Motorcycles', '1982 Ducati 900 Monster'),
 ('Classic Cars', '1949 Jaguar XK 120'),
 ('Classic Cars', '1958 Chevy Corvette Limited Edition'),
 ('Planes', '1900s Vintage Bi-Plane'),
 ('Classic Cars', '1952 Citroen-15CV'),
 ('Classic Cars', '1982 Lamborghini Diablo'),
 ('Vintage Cars', '1912 Ford Model T Delivery Wagon'),
 ('Classic Cars', '1969 Chevrolet Camaro Z28'),
 ('Classic Cars', '1971 Alpine Renault 1600s'),
 ('Vintage Cars', '1937 Horch 930V Limousine'),
 ('Classic Cars', '2002 Chevy Corvette'),
 ('Vintage Cars', '1940 Ford Delivery Sedan'),
 ('Classic Cars', '1956 Porsche 356A Coupe'),
 ('Planes', 'Corsair F4U ( Bird Cage)'),
 ('Vintage Cars', '1936 Mercedes Benz 500k Roadster'),
 ('Classic Cars', '1992 Porsche Cayenne Turbo Silver'),
 ('Vintage Cars', '1936 Chrysler Airflow'),
 ('Planes', '1900s Vintage Tri-Plane'),
 ('Classic Cars', '1961 Chevrolet Impala'),
 ('Trucks and Buses', '1980’s GM Manhattan Express'),
 ('Motorcycles', '1997 BMW F650 ST'),
 ('Motorcycles', '1982 Ducati 996 R'),
 ('Trucks and Buses', '1954 Greyhound Scenicruiser'),
 ('Trains', "1950's Chicago Surface Lines Streetcar"),
 ('Trucks and Buses', '1996 Peterbilt 379 Stake Bed with Outrigger'),
 ('Vintage Cars', '1928 Ford Phaeton Deluxe'),
 ('Motorcycles', '1974 Ducati 350 Mk3 Desmo'),
 ('Vintage Cars', '1930 Buick Marquette Phaeton'),
 ('Trucks and Buses', 'Diamond T620 Semi-Skirted Tanker'),
 ('Trains', '1962 City of Detroit Streetcar'),
 ('Motorcycles', '2002 Yamaha YZR M1'),
 ('Ships', 'The Schooner Bluenose'),
 ('Planes', 'American Airlines: B767-300'),
 ('Ships', 'The Mayflower'),
 ('Ships', 'HMS Bounty'),
 ('Planes', 'America West Airlines B757-200'),
 ('Ships', 'The USS Constitution Ship'),
 ('Classic Cars', '1982 Camaro Z28'),
 ('Planes', 'ATA: B757-300'),
 ('Planes', 'F/A 18 Hornet 1/72'),
 ('Ships', 'The Titanic'),
 ('Ships', 'The Queen Mary'),
 ('Planes', 'American Airlines: MD-11S'),
 ('Planes', 'Boeing X-32A JSF'),
 ('Ships', 'Pont Yacht')]

In [197]:
# make a table from these results

In [205]:
from collections import defaultdict

dictionary_of_productline_lists = defaultdict(list) #specifies value type to be list
for productline, product in tuples:
    dictionary_of_productline_lists[productline].append(product)
dictionary_of_productline_lists.keys()

dict_keys(['Motorcycles', 'Classic Cars', 'Trucks and Buses', 'Vintage Cars', 'Planes', 'Ships', 'Trains'])

In [143]:
headers = list(set(list(map(lambda tup: tup[0],tuples))))
headers #turn this of headers into table headers
# values; #populate the table with each value associated with proper header

['Planes',
 'Classic Cars',
 'Motorcycles',
 'Trains',
 'Trucks and Buses',
 'Vintage Cars',
 'Ships']

In [117]:
sql_statement = 'CREATE TABLE combined ('

for column_name in headers:
    sql_statement += column_name.replace(' ','')
    sql_statement += ' TEXT'
    sql_statement += ', '
    
sql_statement += ');'
sql_statement = sql_statement.rstrip(', );') + ');'
print(sql_statement)

CREATE TABLE combined (Planes TEXT, ClassicCars TEXT, Motorcycles TEXT, Trains TEXT, TrucksandBuses TEXT, VintageCars TEXT, Ships TEXT);

In [118]:
cursor.execute(sql_statement)

In [119]:
cursor.execute('SELECT * FROM combined').fetchall()

[]

In [121]:
cursor.execute('PRAGMA table_info(combined)').fetchall()

[(0, 'Planes', 'TEXT', 0, None, 0),
 (1, 'ClassicCars', 'TEXT', 0, None, 0),
 (2, 'Motorcycles', 'TEXT', 0, None, 0),
 (3, 'Trains', 'TEXT', 0, None, 0),
 (4, 'TrucksandBuses', 'TEXT', 0, None, 0),
 (5, 'VintageCars', 'TEXT', 0, None, 0),
 (6, 'Ships', 'TEXT', 0, None, 0)]

In [122]:
values_list = [] #list of tuples
for i in range(0,len(tuples)):
    
# for row in rows:
#     Values(a,b,c,)
# item in motor_list

110

In [ ]:
for header in headers:
    for value in uk[header]
    x = plane,motor,cc
    INSERT INTO combined VALUES(x)

In [161]:
listt = []
for header in headers:
    listt.append(uk[header])

True

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!